@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family:
    /* 圓體 */
    'cwTeXYen',
    /* Safari for OS X and iOS */
    -apple-system,
    /* Chrome >= 56 for OS X , Windows, Linux and Android */
    system-ui,
    /* Chrome < 56 for OS X */
    BlinkMacSystemFont,
    /* Windows */
    "Segoe UI",
    /* Android */
    "Roboto",
    /* Basic web fallback */
    "Helvetica Neue", Arial, sans-serif;
}

.btn .btn-danger {
    color: #c94f7c;
}

#brand-text {
    font-size: 1.2rem;
    font-style: bold;
}

.nav-link {
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0);
}

.nav-link:hover, .nav-link:focus {
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0.276);
}

@media (min-width: 992px) {
    #banner {
        height: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        background-image: url("../images/bg-large.jpg");
    }
}

@media (max-width: 991px) {
    #banner {
        height: 200%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-image: url("../images/bg.jpg");
        background-repeat: no-repeat;
    }
}

@media (min-width: 992px) {
    #banner-background-content {
        height: 100%;
        text-align: center;
    }
}

@media (max-width: 991px) {
    #banner-background-content {
        height: 53%;
        text-align: center;
        background-color: #c94f7c;
    }
}

#banner-text-background-content {
    background-color: rgba(255, 128, 171, 0.9);
}

@media (min-width: 1151px) {
    #banner-title {
        font-size: 3.5rem;
        color: rgb(253, 238, 238);
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
        margin-right: 1rem;
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

@media (max-width: 1150px) and (min-width: 992px) {
    #banner-title {
        font-size: 3rem;
        color: rgb(253, 238, 238);
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
        margin-right: 1rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

@media (max-width: 991px) {
    #banner-title {
        font-size: 3.5rem;
        color: rgb(253, 238, 238);
        margin-top: 5rem;
        margin-bottom: 1rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

.banner-subtitle {
    font-size: 1.2rem;
    color: rgb(253, 238, 238);
    margin-bottom: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

#banner-button {
    color: rgb(48, 48, 48);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#banner-arrow {
    color: rgba(201, 79, 124);
    font-size: 2rem;
    margin-top: 0.5rem;
}

.drop-shadow {
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7))
}

.content {
    height: 100%;
    text-align: center;
    background-color: rgba(235, 234, 234, 0.1)
}

/* Large screen */

@media (min-width: 992px) {
    .section-image {
        height: 46% !important;
        width: 43% !important;
        margin-top: 1rem;
    }
}

.section-description {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
}

@media (min-width: 992px) {
    .section-description > .section-title {
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 5rem;
        margin-top: 1rem;
    }
}

@media (min-width: 992px) {
    .section-description > .section-text {
        font-size: 1.5rem;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 3rem;
        margin-top: 1rem;
    }
}

/* Medium screen */

@media (max-width: 991px) and (min-width: 768px) {
    .section-image {
        height: 16% !important;
        width: 16% !important;
        margin-top: 3.3rem;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .section-description > .section-title {
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .section-description > .section-text {
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
        font-size: 1rem;
    }
}

/* Small screen */

@media (max-width: 767px) and (min-width: 576px) {
    .section-image {
        height: 18% !important;
        width: 18% !important;
        margin-top: 3.3rem;
    }
}

@media (max-width: 767px) and (min-width: 576px) {
    .section-description > .section-title {
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}

@media (max-width: 767px) and (min-width: 576px) {
    .section-description > .section-text {
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
        font-size: 1rem;
    }
}

/* Tiny screen */

@media (max-width: 575px) {
    .section-image {
        height: 40% !important;
        width: 40% !important;
        margin-top: 0.5rem;
    }
}

@media (max-width: 575px) {
    .section-description > .section-title {
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
        font-size: 1.2rem;
    }
}

@media (max-width: 575px) {
    .section-description > .section-text {
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
        font-size: 0.9rem;
    }
}

.section-arrow {
    color: rgba(201, 79, 124);
    font-size: 2rem;
    margin-bottom: 1rem;
}

#section-0 {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-color:#ff80ab;
    background-attachment: fixed;
}

#section-1-video {
    height: 450px;
    width: 450px;
}

#section-1 {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-color:#ff80ab;
    background-attachment: fixed;
}

#section-2 {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-color:#ff80ab;
    background-attachment: fixed;
}

#section-3 {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-color:#ff80ab;
    background-attachment: fixed;
}

#section-4 {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-color:#ff80ab;
    background-attachment: fixed;
}

#section0-background-content {
    height: 100%;
    text-align: center;
    background-color: rgba(235, 234, 234, 0.3)
}

#section1-background-content {
    height: 100%;
    text-align: center;
    background-color: rgba(235, 234, 234, 0.6)
}

#section2-background-content {
    height: 100%;
    text-align: center;
    background-color: rgba(235, 234, 234, 0.3)
}

#section3-background-content {
    height: 100%;
    text-align: center;
    background-color: rgba(235, 234, 234, 0.6)
}

#section4-background-content {
    height: 100%;
    text-align: center;
    background-color: rgba(235, 234, 234, 0.3)
}

.feedback {
    background-color:rgba(248, 248, 248, 0.836);
}

.feedback-quote {
    font-style: bold;
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}

.feedback-content {
    height: 350px;
    width: 200px;
    background-color: white;
    border-radius: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    /* border-style: solid; */
    border-color: rgb(64, 64, 64);
    border-width: 0.3rem;
    -webkit-filter: drop-shadow(5px 5px 6px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(5px 5px 6px rgba(0, 0, 0, 0.5));
}

.feedback-content-card-1 {
    margin-top: 6rem;
    margin-bottom: 10rem;
}

.feedback-content-card-2 {
    margin-top: 4rem;
    margin-bottom: 10rem;
}

.feedback-content-card-3 {
    margin-top: 6rem;
    margin-bottom: 10rem;
}

.feedback-content-card-4 {
    margin-top: 2rem;
    margin-bottom: 10rem;
}

.feedback-content-card-5 {
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.feedback-content-card-6 {
    margin-top: 0rem;
    margin-bottom: 5rem;
}

.feedback-content-card-7 {
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.feedback-content-card-8 {
    margin-top: 0rem;
    margin-bottom: 5rem;
}

.feedback-text {
    margin: 0.5rem;
}

@media (min-width: 991px) {
    #footer {
        height: 33%;
        background-color: #ff80ab
    }

    .icon {
        font-size: 2rem;
    }
}

@media (max-width: 990px) {
    #footer {
        font-size: 0.6rem;
        height: 25%;
        background-color: #ff80ab
    }

    .icon {
        font-size: 0.8rem;
    }
}